<div class="bg-[#343434] rounded-lg p-4 w-[350px] flex flex-row gap-4 shadow-md hover:shadow-2xl hover:scale-105 transition-transform duration-300 hover:shadow-cyan-800">
    <div class="w-[40%]">
        <img [src]="framework.img" alt="">
    </div>
    <div class="w-[60%] gap-2">
        <h1 class="text-orange-500 text-[24px] font-inter font-extrabold ">
            {{framework.title}}
        </h1>
        <p class="text-white text-[12px] font-inter font-light">
            {{framework.description}}
        </p>
    </div>
</div>